<ion-content>
  <!-------------------------------------------------------------------------------------------------------->
  <div id="mapId2" style="margin: auto; width: 100%; height: 100%">
  </div>
  <!-------------------------------------------------------------------------------------------------------->
</ion-content>
<!-------------------------------------------------------------------------------------------------------->
<ion-footer>
  <ion-button style="--background: #3c2255" (click)="dismissMap()" shape="round"
  expand="block">Voltar</ion-button>
</ion-footer>
<!-------------------------------------------------------------------------------------------------------->