.marginText{
    text-align: left;
    font-size: large;
}
.marginText2{
    margin-bottom: -2vh;
    text-align: center;
    font-size: small;
}
.marginText3{
    margin-top: -2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 10px;
}
.marginText4{
    text-align: center;
    font-size: small;
}
.itemColor{
    --background: #2a193a;
}
.logo{
    margin: auto;
    width: 100px;
    height: 100px;
}

