<ion-app> 
  <ion-content class="itemColor" >
    <ion-img src="../../assets/img/vanhelsing.png"></ion-img>
    <ion-item [routerLink]="'/use-terms'" color="light">
      <ion-icon class="textColor3" slot="start" name="file-tray-full-outline"></ion-icon>
      <ion-label class="marginText">Termos de uso</ion-label>
    </ion-item>
    <ion-item color="light" href="mailto:teamrebase@gmail.com">
      <ion-icon class="textColor3" slot="start" name="mail-outline"></ion-icon>
      <ion-label class="marginText">teamrebase@gmail.com</ion-label>
    </ion-item>
    <ion-item color="light" href="https://www.instagram.com/teamrebase">
      <ion-icon class="textColor3" slot="start" name="logo-instagram"></ion-icon>
      <ion-label class="marginText">@teamrebase</ion-label>
    </ion-item>
    <ion-item color="light" lines="none" href="https://github.com/Rebase-team">
      <ion-icon class="textColor3" slot="start" name="logo-github"></ion-icon>
      <ion-label class="marginText">Rebase-team</ion-label>
    </ion-item>
    <div>
      <p class="marginText2 textColor">Desenvolvido por:</p>
      <ion-img class="logo" src="../../assets/img/logo.png"></ion-img>
      <p class="marginText3 textColor">Alunos graduandos em Engenharia de Software, Universidade de Pernambuco - Campus Garanhuns.</p>
      <p class="marginText4 textColor">Versão 1.0.0</p>
    </div>
  </ion-content>
</ion-app>