<ion-content class="ion-padding">
  <div>
    <div>
      <div>
        <h3 style="text-align: justify;"><span style="text-decoration: underline;"><strong>1. Termos</strong></span>
        </h3>
        <div style="text-align: justify;">Ao acessar o Aplicativo Valmir Motorista, concorda em cumprir estes termos de
          servi&ccedil;o, todas as leis e regulamentos aplic&aacute;veis e concorda que &eacute; respons&aacute;vel pelo
          cumprimento de todas as leis locais aplic&aacute;veis. Se voc&ecirc; n&atilde;o concordar com algum desses
          termos, est&aacute; proibido de usar ou acessar este aplicativo. Os materiais contidos neste aplicativo
          s&atilde;o protegidos pelas leis de direitos autorais e marcas comerciais aplic&aacute;veis.</div>
        <br />
        <div style="text-align: justify;"><strong>1.1. Uso de Licen&ccedil;a</strong></div>
        <div style="text-align: justify;">&Eacute; concedida permiss&atilde;o para baixar uma c&oacute;pia dos materiais
          (lista de hor&aacute;rios do motorista e n&uacute;meros de contato) no Aplicativo Valmir Motorista, apenas
          para visualiza&ccedil;&atilde;o e uso transit&oacute;rio pessoal e n&atilde;o comercial. Esta &eacute; a
          concess&atilde;o de uma licen&ccedil;a, n&atilde;o uma transfer&ecirc;ncia de t&iacute;tulo e, sob esta
          licen&ccedil;a, voc&ecirc; n&atilde;o pode:</div>
        <br />
        <div style="text-align: justify;">modificar os materiais;</div>
        <div style="text-align: justify;">usar os materiais para qualquer finalidade comercial ou para
          exibi&ccedil;&atilde;o p&uacute;blica comercial;</div>
        <div style="text-align: justify;">tentar descompilar ou fazer engenharia reversa do software ou qualquer parte
          do software que est&aacute; contido no Aplicativo Valmir Motorista;</div>
        <div style="text-align: justify;">remover quaisquer direitos autorais ou outras nota&ccedil;&otilde;es de
          propriedade dos materiais;</div>
        <div style="text-align: justify;">Esta licen&ccedil;a ser&aacute; automaticamente rescindida se voc&ecirc;
          violar alguma dessas restri&ccedil;&otilde;es e poder&aacute; ser rescindida pelo Aplicativo Valmir Motorista
          a qualquer momento.</div>
        <br />
        <div style="text-align: justify;"><strong>1.2. Isen&ccedil;&atilde;o de responsabilidade</strong></div>
        <div style="text-align: justify;">Os materiais no Aplicativo Valmir Motorista s&atilde;o fornecidos 'como
          est&atilde;o'. O Aplicativo Valmir Motorista n&atilde;o oferece garantias, expressas ou impl&iacute;citas, e,
          por este meio, isenta e nega todas as outras garantias, incluindo, sem limita&ccedil;&atilde;o, garantias
          impl&iacute;citas ou condi&ccedil;&otilde;es de comercializa&ccedil;&atilde;o, adequa&ccedil;&atilde;o a um
          fim espec&iacute;fico ou n&atilde;o viola&ccedil;&atilde;o de propriedade intelectual ou outra
          viola&ccedil;&atilde;o de direitos.</div>
        <div style="text-align: justify;">Al&eacute;m disso, o Aplicativo Valmir Motorista n&atilde;o garante ou faz
          qualquer representa&ccedil;&atilde;o relativa &agrave; precis&atilde;o, aos resultados prov&aacute;veis ou
          &agrave; confiabilidade do uso dos materiais em seu aplicativo ou de outra forma relacionado a esses materiais
          ou em outros servi&ccedil;os vinculados a ele.</div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;"><strong>1.3. Limita&ccedil;&otilde;es</strong></div>
        <div style="text-align: justify;">Em nenhum caso o Aplicativo Valmir Motorista ou seus fornecedores ser&atilde;o
          respons&aacute;veis por quaisquer danos (incluindo, sem limita&ccedil;&atilde;o, danos por perda de dados ou
          lucro ou devido a interrup&ccedil;&atilde;o dos neg&oacute;cios) decorrentes do uso ou da incapacidade de usar
          os materiais no Aplicativo Valmir Motorista, mesmo que Aplicativo Valmir Motorista ou um representante
          autorizado da Aplicativo Valmir Motorista tenha sido notificado oralmente ou por escrito da possibilidade de
          tais danos. Como algumas jurisdi&ccedil;&otilde;es n&atilde;o permitem limita&ccedil;&otilde;es em garantias
          impl&iacute;citas, ou limita&ccedil;&otilde;es de responsabilidade por danos conseq&uuml;entes ou incidentais,
          essas limita&ccedil;&otilde;es podem n&atilde;o se aplicar a voc&ecirc;.</div>
        <br />
        <div style="text-align: justify;"><strong>1.4. Precis&atilde;o dos materiais</strong></div>
        <div style="text-align: justify;">Os materiais exibidos no Aplicativo Valmir Motorista podem incluir erros
          t&eacute;cnicos, tipogr&aacute;ficos ou fotogr&aacute;ficos. O Aplicativo Valmir Motorista n&atilde;o garante
          que qualquer material em seu aplicativo seja preciso, completo ou atual. O Aplicativo Valmir Motorista pode
          fazer altera&ccedil;&otilde;es nos materiais contidos em seu aplicativo a qualquer momento, sem aviso
          pr&eacute;vio. No entanto, Aplicativo Valmir Motorista n&atilde;o se compromete a atualizar os materiais.
        </div>
        <br />
        <div style="text-align: justify;"><strong>1.5 Modifica&ccedil;&otilde;es</strong></div>
        <div style="text-align: justify;">O Aplicativo Valmir Motorista pode revisar estes termos de servi&ccedil;o do
          aplicativo a qualquer momento, sem aviso pr&eacute;vio. Ao usar este aplicativo, voc&ecirc; concorda em ficar
          vinculado &agrave; vers&atilde;o atual desses termos de servi&ccedil;o.</div>
        <br />
        <div style="text-align: justify;"><strong>1.6 Lei aplic&aacute;vel</strong></div>
        <div style="text-align: justify;">Estes termos e condi&ccedil;&otilde;es s&atilde;o regidos e interpretados de
          acordo com as leis do Aplicativo Valmir Motorista e voc&ecirc; se submete irrevogavelmente &agrave;
          jurisdi&ccedil;&atilde;o exclusiva dos tribunais naquele estado ou localidade.</div>
        <div style="text-align: justify;">&nbsp;</div>
      </div>
    </div>
    <h3 style="text-align: justify;"><span style="text-decoration: underline;"><strong>2. Pol&iacute;tica
          Privacidade</strong></span></h3>
    <ul style="text-align: justify;">
      <li>A sua privacidade &eacute; importante para n&oacute;s. &Eacute; pol&iacute;tica do Aplicativo Valmir Motorista
        respeitar a sua privacidade em rela&ccedil;&atilde;o a qualquer informa&ccedil;&atilde;o sua que possamos
        coletar no Aplicativo Valmir Motorista, e outros servi&ccedil;os nossos e de terceiros que possu&iacute;mos,
        utilizamos e/ou operamos.</li>
      <li>Solicitamos informa&ccedil;&otilde;es pessoais apenas quando realmente precisamos delas para lhe fornecer um
        servi&ccedil;o. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Tamb&eacute;m
        informamos por que estamos coletando e como ser&aacute; usado.</li>
      <li>Apenas retemos as informa&ccedil;&otilde;es coletadas pelo tempo necess&aacute;rio para fornecer o
        servi&ccedil;o solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceit&aacute;veis
        para evitar perdas e roubos, bem como acesso, divulga&ccedil;&atilde;o, c&oacute;pia, uso ou
        modifica&ccedil;&atilde;o n&atilde;o autorizados.</li>
      <li>N&atilde;o compartilhamos informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal publicamente ou com
        terceiros, exceto quando exigido por lei.</li>
      <li>Voc&ecirc; &eacute; livre para recusar a nossa solicita&ccedil;&atilde;o de informa&ccedil;&otilde;es
        pessoais, entendendo que talvez n&atilde;o possamos fornecer alguns dos servi&ccedil;os desejados.</li>
      <li>O uso continuado de nosso aplicativo ser&aacute; considerado como aceita&ccedil;&atilde;o de nossas
        pr&aacute;ticas em torno de privacidade e informa&ccedil;&otilde;es pessoais. Se voc&ecirc; tiver alguma
        d&uacute;vida sobre como lidamos com dados do usu&aacute;rio e informa&ccedil;&otilde;es pessoais, entre em
        contacto conosco.</li>
    </ul>
    <h3 style="text-align: justify;"><span style="text-decoration: underline;"><strong>3. Mais
          informa&ccedil;&otilde;es</strong></span></h3>
    <p style="text-align: justify;">Email: teamrebase@gmail.com.</p>
    <br />
    <div style="text-align: justify;"><em>Esta pol&iacute;tica &eacute; efetiva a partir de Agosto/2020.</em></div>
  </div>
</ion-content>